body { 
    margin: 0;
    padding: 0;
    font-family: dosis;
    /* color: darkred; */
    background-color: #d9d9d9
   
   
}


h1 {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  
    height: 200px;
}

.img {
    width: 150px;
    height: 150px;
    padding: 20px;
    cursor: pointer;
    border-radius: 35px;
}

.result-div {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: large;
    font-weight: bolder;
    height: auto;
    margin-top: 50px;
    color: black;

}


button {
    background-color:#474343 ;
    border: 2px solid #d9d9d9;
    color: white;
    padding: 15px;
    margin: auto;
    display: flex;
justify-content: center;
border-radius: 10px;
width: 150px;
height: 50px;
}


button:hover {
    background-color: black;
}